body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

header {
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
}

#title {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 2.3em;
}

#new-recipe-btn {
    position: absolute;
    left: 10px;
    /* float: left; */
}

#add-single-item-btn {
    position: absolute;
    right: 10px;
}

.body-container {
    display: grid;
    min-height: 95.4vh;
    grid-template-columns: 1fr 175px 250px;
    grid-template-rows: 1fr;
}

.recipe-container {
    background-color: burlywood;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}
    .recipe {
        background-color: coral;
        margin: 10px;
        height: 100px;
        width: 130px;
        text-align: center;
        line-height: 100px;
        border-radius: 10px;
        font-family: 'Nanum Myeongjo', serif;
    }
        .recipe:hover {
            opacity: 50%;
        }
        .recipe:active {
            background-color: cornflowerblue;
        }


.recipes-added-div{
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
}
    .recipes-added-div > h2 {
        font-family: 'Nanum Myeongjo', serif;
        text-align: center;
        font-size: 1.5em;
    }
    .recipes-added-container {
        flex-grow: 1;
    }
    .recipes-added-container > div {
        font-family: 'caveat', cursive;
        font-size: 1.3em;
        margin: 3px;
        padding: 3px;
    }
    .recipe-rmv {
        float: right;
    }
.grocery-list-div {
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
}
    .grocery-list-div > h2 {
        font-family: 'Nanum Myeongjo', serif;
        text-align: center;
        font-size: 1.5em;
    }
    .grocery-list-container {
        flex-grow: 1;
    }
        .grocery-list-container > div {
            font-family: 'caveat', cursive;
            font-size: 1.3em;
            margin: 3px;
            padding: 3px;
        }
        .item-rmv {
            float: right;
        }

/* MODAL FORM */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    overflow: auto;
}

.modal-content {
    background-color: dodgerblue;
    margin: auto;
    padding: 20px;
    width: 300px;
}
    #close-modal-btn {
        float: right;
        color: #4a4a4a;
    }
        #close-modal-btn:hover,
        #close-modal-btn:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    #modal-add-btn {
        margin-top: 30px;
    }
    input {
        margin: 5px;
    }
    form {
        font-family: 'Baloo 2', cursive;
        font-size: 1.3em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    